// Arbalet requires jQuery at the moment
// This would have to be fixed in the future


Arbalet = new function(){
	
	this.init = function(){
		this.account = <%=@app.id%>
		this.base_url = '<%=url_for :controller => 'home', :only_path => false %>';
		this._tips = new Array();
		this._panel = null;
		this._boxes = new Array();
		this._toolbar = null;
		<% if @panel %>
		this._panel = new Panel('<%=url_for :controller => 'panels', :action => 'display', :id => @panel.id, :only_path => false %>');
		this.insertPanel();
		<% end %>
		<% if @boxes %>
			<% 
			i = 0
			@boxes.each do |box|%>
				this._boxes[<%=i%>] = new Box(<%=i%>, '<%=box.target_id%>', '<%=url_for :controller => 'boxes', :action => 'display', :id => box.id, :only_path => false%>');
			<% 
			i += 1
			end %>
		<% end %>
		<% if current_user %>
		this._toolbar = new Toolbar();
		this._toolbar.insert();
		<% end %>
		
		//this._boxes[1] = new Box(1, 'user_password_confirmation', 'http://localhost:3000/boxes/1/display');

	}

	this.insertPanel = function(){
		console.log('inserting panel');
		console.log(this._panel.target_url);
		this._panel.insert(); 
		
	}

	this.insertBoxes = function(){
		for (var i = 0; i < this._boxes.length; i++){
			this._boxes[i].insert();
		}
		
	}

	this.showBoxes = function(){
		for (var i = 0; i < this._boxes.length; i++){
			this._boxes[i].show();
		}
		
	}

	this.hideBox = function(id){
		console.log('hiding box ' + id);
		this._boxes[id].hide();
	}

	this.showPanel = function(){
		this._panel.show();
	}
	this.hidePanel = function(){
		this._panel.hide();
	}

	this.activateEdit = function(){
		return this._toolbar.activateEdit();

	}

	// creates a panel
	function Panel(target_url){
		this.target_url = target_url;
		this.iframeTemplate = '<iframe id="arbalet-panel-iframe" style="display:block;   border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="'+ target_url + '"></iframe>';
		this.maskTemplate = '<div id="arbalet-panel-mask" onclick="return Arbalet.hidePanel();" style="display:none; z-index:1000; height: 100%; width:100%; margin: 0px; position: fixed; top: 0px; left: 0px; background-color: #000; opacity:0.9"></div>';
		this.dialogTemplate = '<div id="arbalet-panel-dialog"  style="border-radius:10px; border:5px solid #ccc; display:none;z-index:10000; height: 500px; overflow:hidden; margin: 0px; position: fixed; top: 50%; left: 50%; width: 900px; margin-left:-450px; margin-top:-250px"></div>';
	}

	Panel.prototype.insert = function(){
		insertHtml(this.maskTemplate);
		insertHtml(this.dialogTemplate);
	}

	Panel.prototype.show = function(){
		var m = $('#arbalet-panel-mask');
		m.html(this.dialogTemplate);
		var d = $('#arbalet-panel-dialog');
		d.html(this.iframeTemplate);
		m.show();
		d.show();
	}
	
	Panel.prototype.hide = function(){
		var m = $('#arbalet-panel-mask');
		var d = $('#arbalet-panel-dialog');
		m.hide();
		d.hide();
	}

	function Box(id, target_id, target_url){
		this._id = id;
		this.target_id = target_id;
		this.target_url = target_url;
		this.iframeTemplate = '<iframe id="abox-frame-' + id + '" style="display:block; border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="' + target_url + '"></iframe>';
		this.dialogTemplate = '<div id="abox-dialog-' + id + '"  style="box-shadow: 0 0 5px #000;z-index:300; background: #eee; border-radius: 5px; border: 1px solid #aaa; display:none; height: 50px; overflow:hidden; width: 200px; position:absolute;"><img src="<%=url_for :controller => 'home', :only_path => false %>images/cross-circle.png" alt="" onclick="Arbalet.hideBox('+ id +')" style="position:absolute;right:0px; top:0px; z-index: 200" /><div class="arba-content"></div></div>';

	}

	Box.prototype.insert = function(){
		console.log('inserting box ' + this._id);
		//target = $('#' + this.target_id);
		$(this.dialogTemplate).insertAfter('#' + this.target_id);
		var id = '#abox-dialog-' + this._id;
		b = $(id + ' .arba-content');
		console.log(this.iframeTemplate);
		b.html(this.iframeTemplate);
		this.place();
		
		//insertHtml(this.dialogTemplate);
	}

	// will place the box next to the target
	Box.prototype.place = function(){
		target = $('#'+ this.target_id);
		target_position = target.position();


		var id = '#abox-dialog-' + this._id;
		b = $(id);

		left = target_position.left - b.width() - 10; 
		b.css('top', target_position.top);
		b.css('left', left);
		console.log(target.offset());
		console.log(target.scrollTop())
		
	}

	Box.prototype.show = function(){
		console.log('showing box ' + this._id);
		var id = '#abox-dialog-' + this._id;
		b = $(id);
		//b.html(this.iframeTemplate);
		b.show();
	}

	Box.prototype.hide = function (){
		var id = '#abox-dialog-' + this._id;
		b = $(id);
		b.hide();
	}

	// Toolbar displayed on top!
	function Toolbar(){
		this.template = '<style type="text/css">.arba-hover, input.arba-hover, a.arba-hover{border:3px solid #33F; cursor: pointer}</style><div id="arba-tool" style="color: #FFA200; position:relative;padding:5px 20px; background:#000;text-align:left">Arbalet Toolbar | <a href="#" id="arba-edit" onclick="$(this).hide();$(\'#arba-cancel\').show();return Arbalet.activateEdit();" style="color: #fff">Edit mode</a> <a id="arba-cancel" href="#" onclick="$(this).hide();$(\'#arba-edit\').show();return location.reload(); " style="color: #fff; display:none">Cancel edit mode</a></div>';
		this.target_id = null;
		this.form_template = '<div id="arba-tool-form" style="z-index:1000;width:500px; height:200px;position: fixed; top: 50%; left: 50%; margin-left:-250px; margin-top:-100px; border:5px solid #ccc"></div>';
		this.iframeTemplate = '<iframe id="arba-tool-frame" style="display:block; border: none; height: 100%; padding: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%;"" src="__src__"></iframe>';
	}

	Toolbar.prototype.insert = function(){
		console.log(this.template);
		$('body').prepend(this.template);
	}

	Toolbar.prototype.showForm = function(target_id){
		var url = escape(document.location.href);
		var app_id = <%=@app.id%>;
		var iframe_url = '<%=url_for :controller => 'boxes', :action => 'miniform', :only_path => false%>' + '?page_url=' + url + '&app_id=' + app_id + '&target_id=' + target_id;

		iframe_script = this.iframeTemplate.replace('__src__', iframe_url);
		$('body').prepend(this.form_template);
		$('#arba-tool-form').html(iframe_script);
		console.log(iframe_script);
	}

	Toolbar.prototype.activateEdit = function(){
		
		$('*').each(function(){
			var target_id = $(this).attr('id');
			if(target_id != undefined && target_id.search('arba') < 0){
				
				$(this).hover(
					function(){
						Arbalet._toolbar.target_id = target_id;
						console.log(Arbalet._toolbar.target_id);
						$('*').removeClass('arba-hover');
						$(this).addClass('arba-hover');
					},
					function(){
						$(this).removeClass('arba-hover');
					}
				);

				$(this).click(function(){
					console.log('Adding Box to ' + Arbalet._toolbar.target_id);
					Arbalet._toolbar.showForm(target_id);
					return false;
				});
					
				
			}
		});

		return false;
	}
	Toolbar.prototype.deactivateEdit = function(){
		
		location.reload();
		return false;
	}



}

 insertHtml = function(html) {
    var dummy = document.createElement('div');
    dummy.innerHTML = html;
    document.body.insertBefore(dummy.firstChild, document.body.firstChild);
    return document.body.firstChild;
  };

window.onload = function(){
	console.log('init');
	Arbalet.init();
	if (Arbalet._panel)
		Arbalet.showPanel();

	Arbalet.insertBoxes();
	Arbalet.showBoxes();
	
};

