<%= form_for(@page_box) do |f| %>
  <% if @page_box.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_box.errors.count, "error") %> prohibited this page_box from being saved:</h2>

      <ul>
      <% @page_box.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :page_id %><br />
    <%= f.text_field :page_id %>
  </div>
  <div class="field">
    <%= f.label :app_id %><br />
    <%= f.text_field :app_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
