<!DOCTYPE html>
<html>
<head>
  <title>Arbalet</title>
  <%= stylesheet_link_tag 'mini.style' %>
  <%= javascript_include_tag 'jquery.min.js', 'application', 'jquery_ujs' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<% if notice || alert %>
		<div id="alert">
			<%= notice %>
		    <%= alert %>
		</div>
		
	<script type="text/javascript">
	$('#alert').fadeIn().delay(5000).fadeOut();
	</script>
	<% end %>
	<div class="wrapper">
		<%= yield %>
	</div>
</body>
</html>
